*{
  font-family: helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-size: 18px;
  color: white;
}

h5{
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  color: white;
}

p{
  font-size: 14px;
}

a{
  font-size: 18px;
  color: white;
}

#image {
  background-image: url("./../images/the-flatiron-building.png");
  }

#highlight{
  background-image: url("./../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer-nav ul li {
  color: white;
  list-style-type: none;
  display: inline;
}

.footer-nav a {
  color: white;
}

footer {
  background-color: dimgray;
  text-align: left;
}
